* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    padding: 2% 5%;
    background-color: #13072e;
    padding: 0;
    width: 100%;
    color: white;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #13072e;
    padding: 0 2%;
    height: 10vh;
    width: 100%;
    /* position: fixed;  */
}

.nav-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    transition: color 0.5s, transform 0.5s; /* Add transition for color and transform */
}
a{
    text-decoration: none;
    color: #b2abff;
}
a:hover{
    color: #3f2182;
}
.nav-links .cmprbtn:hover{
    color: #b2abff;
    transform: scale(1.1);
    transition: transform 0.4s ease-in-out;
}
.nav-links .cmprbtn:not(:hover) {
    transform: scale(1);
    transition: transform 0.4s ease-in-out;
}
.nav-links .artbtn:hover{
    color: #b2abff;
    transform: scale(1.1);
    transition: transform 0.4s ease-in-out;
}
.nav-links .artbtn:not(:hover) {
    transform: scale(1);
    transition: transform 0.4s ease-in-out;
}
.nav-links .cmprbtn a:hover,
.nav-links .artbtn a:hover {
    color: #b2abff;;
    transition: 0.5s;
}

.logo {
    display: flex;
    justify-content: flex-start;
    color: aliceblue;
    font-size: 2em;
    align-items: center;
    width: 80%; /* Set the logo to take up 20% of the width */
}
.logo img:hover,
.logo img:hover + span {
    color: #b2abff;
    transform: scale(1.1);
    transition: transform 0.4s ease-in-out;
    cursor: pointer;
}
.logo span:hover,
.logo span:hover ~ img {
    color: #b2abff;
    transform: scale(1.1);
    transition: transform 0.4s ease-in-out;
    cursor: pointer;
}

.logo span:not(hover){
    transform: scale(1);
    transition: transform 0.4s ease-in-out;
}
.logo img:not(:hover){
    transform: scale(1);
    transition: transform 0.4s ease-in-out;
}

.logo img {
    margin-right: 10px; /* Add some margin between the logo image and the text */
}

.contain {
    width: 100%;
    height: 100%;
    background-color: #13072e;
    font-family: 'Poppins', sans-serif;
    padding: 2% 5%;
}

.home{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to bottom right, #13072e, #3f2182);
    width: 100%;
    height: 100%;
    padding: 2% 3%;
    /* position: absolute; */
}
.home-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
    width: 60%;
    padding-top: 10%;
    margin-left: 2%;
}
.home-img{
    display: flex;
    justify-content: flex-end;
    margin-left: 0;
    width: 100%;
    transition: transform 0.6s ease-in-out;
}
.home-img img:hover{
    transform: scale(1.06);
    transition: transform 0.8s ease-in-out;
}
.home-img img:not(:hover) {
    transform: scale(1);
    transition: transform 0.4s ease-in-out;
}
.texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.texts h1{
    font-size: 3em;
    font-weight: bold;
}
.texts h1:hover{
    color: #b2abff;
    transform: scale(1.04);
    transition: transform 0.4s ease-in-out;
}
.texts h1:not(hover){
    transform: scale(1);
    transition: transform 0.4s ease-in-out;
}
.texts p:hover{
    color: #b2abff;
    transform: scale(1.04);
    transition: transform 0.4s ease-in-out;
}
.texts p:not(hover){
    transform: scale(1);
    transition: transform 0.4s ease-in-out;
}
.texts p{
    width: 85%;
}
.dis_stats {
    display: inline-block;
    padding: 2% 4%;
    border-radius: 30px;
    background-color: #b2abff;
    color: #13072e;
    text-align: center;
    text-decoration: none;
    font-size: 1.3em;
    border: none;
    outline: none;
}
.dis_stats:hover{
    background-color: #13072e;
    color: #b2abff;
    transform: scale(1.08);
    transition: transform 0.4s ease-in-out;
}
.dis_stats:not(hover){
    transform: scale(1);
    transition: transform 0.4s ease-in-out;
}
.artist_statsbtn{
    display: inline-block;
    align-items: center;
    justify-content: space-arround;
    padding: 3% 6%;
    border-radius: 30px;
    color: #b2abff;
    background-color: white;
    color: #13072e;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    border: none;
    outline: none;
    width: warap-content;
    cursor: pointer;
}
.compare_artistbtn{
    display: inline-block;
    align-items: center;
    margin-left: 5%;
    justify-content: space-arround;
    padding: 3% 6%;
    border-radius: 30px;
    color: #b2abff;
    background-color: white;
    color: #13072e;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    border: none;
    outline: none;
    width: warap-content;
    cursor: pointer;
}
.artist_statsbtn:hover{
    background-color: #b2abff;
    transform: scale(1.06);
    transition: transform 0.4s ease-in-out;
}
.compare_artistbtn:hover{
    background-color: #b2abff;
    transform: scale(1.06);
    transition: transform 0.4s ease-in-out;
}

.artist_statsbtn:not(hover){
    transform: scale(1);
    transition: transform 0.4s ease-in-out;
}
.compare_artistbtn:not(hover){
    transform: scale(1);
    transition: transform 0.4s ease-in-out;
}
.search{    
    width: 100%;
    height: 100%;
    background-color: #13072e;
    font-family: 'Poppins', sans-serif;
    margin-top: 1%;
    padding: 2% 5%;
    margin-bottom: 20%;
}
.search h1{
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-top: 0.5%;
}
.search h1:hover{
    color: #b2abff;
    transform: scale(1.03);
    transition: transform 0.8s ease-in-out;
}
.search h1:not(hover){
    transform: scale(1);
    transition: transform 0.4s ease-in-out;
}
.search_contain{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(to bottom right, #13072e, #3f2182);
    width: 100%;
    height: 100%;
    padding: 2% 3%;
}
.input_box{
    width: 100%;
    padding: 2% 0%;
    padding-left: 3%;
    background: linear-gradient(to right, #2d2d77, #1c1c43);
    border: #b2abff;
    border-radius: 20px;
}
.input_box span{
    margin-left: 1%;
    margin-right: 1%;
    color: #b2abff;
    font-size: 1.8em;
    font-weight: bold;
}
input[type="text"] {
    background-color: rgb(248, 244, 244);
    color: rgb(0, 5, 4);
    width: 40%;
    height: 45px;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid rgb(50 222 176);
    border-radius: 20px;
    font-size: 14px;
}
.search_btn{
    margin-right: 0;
    margin-left: 2%;
    width: 9%;
    padding: 1% 2%;
    border-radius: 30px;
    color: #b2abff;
    background-color: white;
    color: #13072e;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer; 
}
.search_btn:hover{
    background-color: #b2abff;
    transform: scale(1.06);
    transition: transform 0.4s ease-in-out;
}
.search_btn:not(hover){
    transform: scale(1);
    transition: transform 0.4s ease-in-out;
}
.output{
    display: flex;
    visibility: hidden;
    justify-content: space-evenly;
    background-color: #13072e;
    gap: 1%;
    padding: 1% 2%;
    border-radius: 30px;
    margin-top: 0.3%;
}
.artist_profile{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5%;
}
.artist_profile h3{
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-top: 0.5%;
}
.top_album{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5%;
}.top_album h3{
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-top: 0.5%;
}
.artist_img{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 320px;
    background-color: #13072e;
}
.album_img{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 320px;
    background-color: #13072e;
    /* transform: scale(1.1); */
}
.piechart{
    width: 70%;
    height: 70%;
    margin-bottom: 0.3%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5%;
}
.piechart h3{
    font-size: 2.2em;
    font-weight: bold;
    margin-bottom: 3%;
    margin-left: 1%;
    margin-top: 0.5%;
}
.pie_img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 0.3%;
    background-color: #13072e;
}

.compare{
    width: 100%;
    height: 100%;
    background-color: #13072e;
    font-family: 'Poppins', sans-serif;
    margin-top: 1%;
    padding: 2% 5%;
    margin-bottom: 20%;
}
.compare h1{
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-top: 0.5%;
}
.compare h1:hover{
    color: #b2abff;
    transform: scale(1.03);
    transition: transform 0.8s ease-in-out;
}
.compare h1:not(hover){
    transform: scale(1);
    transition: transform 0.4s ease-in-out;
}
.compare h2:hover{
    color: #b2abff;
    transform: scale(1.01);
    transition: transform 0.8s ease-in-out;
}
.compare h2:not(hover){
    transform: scale(1);
    transition: transform 0.4s ease-in-out;
}
.compare_contain{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom right, #13072e, #3f2182);
    width: 100%;
    height: 100%;
    padding: 2% 3%;
}
.compare span{
    visibility: hidden;
}
.compare_btn{
    margin-right: 0;
    margin-left: 0;
    width: 9%;
    height: 45px;
    padding: 1% 2%;
    border-radius: 30px;
    color: #b2abff;
    background-color: white;
    color: #13072e;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;   
}
.compare_btn:hover{
    background-color: #b2abff;
    transform: scale(1.06);
    transition: transform 0.4s ease-in-out;
}
.compare_btn:not(hover){
    transform: scale(1);
    transition: transform 0.4s ease-in-out;
}
.cmprinpt input[type="text"] {
    width: 40%;
    margin-right: 0;
}
.artist2{
    margin-left: 2%;
}
.cmprinpt{
    display: flex;
    width: 100%;
    gap: 3%;
}
.compare_contain #cmprout{
    display: flex;
    visibility: hidden;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    margin-top: 0.8%;
    background-color: #13072e;
}
.chart1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    background-color: #13072e;
}
.chart2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    background-color: #13072e;
}
.bargraph{
    width: 100%;
    margin-bottom: 0.3%;
    margin-top: 3%;
    background-color: #13072e;
}
.bargraph h2{
    font-size: 1.8em;
    font-weight: bold;
    margin: 0.3%;
    margin-left: 0.8%;

}
.compare h2{
    font-size: 1.8em;
    font-weight: bold;
    margin: 0.3%;
    margin-left: 0.8%;
}
.mybargraph{
    width: 100%;
    height: 100%;
    font-size: large;
}